
# Address
ADDR=your-address@gmail.com

# password
SECRET=your-password

# I'm not responsible have your inbox here. ;) labels with spaces not supported.
LABELS="labels you want separated by spaces"

